* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #1B1B1B;
    height: 100vh; 
    padding-left: 40px;
}

 
.left-side {
    width: 50%;  
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    
}

.login-container {
    height: auto;
    width: 70%;
    padding-top: 40px;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.logo img {
    height: 40px;
    margin: 2em;
}

.title {
    color: #FFD700;
    font-size: 35px;
    font-weight: bold;
    margin: 1em;
}
.yellow-line {
    background-color: #FFD700;
    width: 2px;
    height: 18px;
    
}
.login {
    color: white;
    font-size: medium;
    margin-left: 2.5em;
    margin-bottom: 2em;
    display: flex;
    gap: 10px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    margin-left: 2em;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-group label {
    color: #aaa;
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #333333;
    color: #ddd;
    font-size: 14px;
}

.form-group input::placeholder {
    color: #666;
}

.password-container {
    position: relative;
}

.password-container input {
    padding-right: 40px;
}

.password-container svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #FFD700;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.login-btn:hover {
    background-color: #e6c200;
}

 
.outlook-login {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #565c36;
    border: 1px solid #fefe00;
    width: 40%;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    color: #fff;
}

.outlook-login img {
    height: 20px;
    margin-right: 10px;
}

.outlook-login:hover {
    background-color: #333;
}
 
.forgot-password {
    text-align: left;
    color: #aaa;
    font-size: small;
    margin-top: 20px;
}

.forgot-password a {
    color: #FFD700;
    text-decoration: none;
 }

.forgot-password a:hover {
    text-decoration: underline;
}

 
.right-side  {
    width: 50%;
}

.right-side img {
    position: absolute;
    width: 40%;
    height: 100vh;
    top: 0%;
    right: 0px;
}
.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    width: 100%;
    padding-right: 40px; / 
}

.password-container span {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #888;
}
